@model MyNewCrudApp.Models.Item
<h1>Delete</h1>
<h3>Are you sure you want to delete this item?</h3>
<h3>@Model.Name</h3>
<h4>@Model.Description</h4>

<form asp-controller="Items" asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <input asp-action="Delete" type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
 
